<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="APA AFTER-NIGHT" content="BUSCADOR DE TELOS, TELOS SEARCH ENGINE, TELOS ARGENTINA, ARGENTINA, CABA, TELOS-CABA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css" />
    <link rel='stylesheet' href='/stylesheets/style_landingUser.css' type="text/css" />
    <title>APA! <%= title %> </title>
    <!--FONT AWESOME  -->
    <script src="https://kit.fontawesome.com/0c502158eb.js " crossorigin="anonymous "></script>
</head>
<body class="bodyPage">
<%- include('../partials/navbarTop'); %>
<div class="div2">



</div>



<%- include('../partials/navbarBottom'); %>
</body>
</html>