<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>title</title>
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="css/sprint02.css" />
  </head>
  <body>
    <header>
      <h1 class="h1-tl-sprint">SPRINT #02</h1>
    </header>
    <div class="container">
      <ul class="timeline">
        <li>
          <div class="timeline-badge">
            <i class="glyphicon glyphicon-check"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">INDEX</h4>
              <p>
                <small class="text-muted"
                  ><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                  Twitter</small
                >
              </p>
            </div>
            <div class="timeline-body">
              <p>
                Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings
                elitis. Pra lá , depois divoltis porris, paradis. Paisis,
                filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                vermeio, in elementis mé pra quem é amistosis quis leo. Manduma
                pindureta quium dia nois paga. Sapien in monti palavris qui num
                significa nadis i pareci latim. Interessantiss quisso pudia ce
                receita de bolis, mais bolis eu num gostis.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger">
            <i class="glyphicon glyphicon-credit-card"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>
                Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings
                elitis. Pra lá , depois divoltis porris, paradis. Paisis,
                filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                vermeio, in elementis mé pra quem é amistosis quis leo. Manduma
                pindureta quium dia nois paga. Sapien in monti palavris qui num
                significa nadis i pareci latim. Interessantiss quisso pudia ce
                receita de bolis, mais bolis eu num gostis.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info">
            <i class="glyphicon glyphicon-floppy-disk"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>
                Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings
                elitis. Pra lá , depois divoltis porris, paradis. Paisis,
                filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                vermeio, in elementis mé pra quem é amistosis quis leo. Manduma
                pindureta quium dia nois paga. Sapien in monti palavris qui num
                significa nadis i pareci latim. Interessantiss quisso pudia ce
                receita de bolis, mais bolis eu num gostis.
              </p>
              <hr />
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-primary btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                >
                  <i class="glyphicon glyphicon-cog"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>
                Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings
                elitis. Pra lá , depois divoltis porris, paradis. Paisis,
                filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros
                vermeio, in elementis mé pra quem é amistosis quis leo. Manduma
                pindureta quium dia nois paga. Sapien in monti palavris qui num
                significa nadis i pareci latim. Interessantiss quisso pudia ce
                receita de bolis, mais bolis eu num gostis.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
