<!doctype html>
<html lang="es">

<head>
    <title>LOGIN APA!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/np
bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/np
bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/
azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC
crossorigin=" anonymous ">
    <link rel="stylesheet " href="css/login.css " />
</head>

<body class="bg-01 ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark "
        <div class="container-fluid ">
            <a class="navbar-brand " href="home.html ">
                <img src="images/i01_logo.png " alt="logo " wi
height="45 " />
            </a>
            <button class="navbar-toggler " type="button " 
data-bs-toggle="collapse " 
data-bs-target="#navbarSupportedContent " 
aria-controls="navbarSupportedContent " 
aria-expanded="false " aria-label="Toggle navigat <span class="navbar-toggler-icon">
    </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="pa
href=" # "><span><i
                                    class="bi bi-house-heart i></span>HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="destaques
                                class=" bi bi-arrow-through-heart-fill "
i>DESTACADOS</a>
                    </li>
                    <li class="nav-item dropdown btn-outline <a class="nav-link dropdown-toggle  
href=" # " id="navbarDropdown " role="b data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-bookmark-heart">
CLUB
                        </a>
                        <ul class="dropdown-menu" 
aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " 
href="#">LOGIN</a></li>
                            <li>
                                <hr class="dropdown-divider"
                            </li>
                            <li><a class="dropdown-item" 
href="register.html">NUEVOS USUA
li>
                            <li>
                                <hr class="dropdown-divider"
                            </li>
                            <li><a class="dropdown-item" hre
RESERVAS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disable
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="s
placeholder="Search" aria-label="Search"
                    <button class="btn btn-outline-success" 
type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!--================= LOGIN =========================-->