@import "../images/protruding-squares.svg";
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.bg-01 {
    background-color: gray;
    background: url('../images/protruding-squares.svg');
    background-repeat: repeat;
    padding: 0px;
    margin: 0px
}

header {
    background: #9aca40;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100vw;
}

.custom-nav {
    background-color: #ece6eb;
    padding: 0px;
    border: 2px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 2vh;
}