@import "../font/font.css";
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.menu {
    margin-top: 0px;
    height: 100%;
    width: 100vw;
    border: 2px solid #E70C8F;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(48, 1, 25, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}

.dropdown-menu {
    border: 1px solid #E70C8F;
}

.dropdown-divider {
    color: #E70C8F;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.bg-01 {
    background: black url(../images/bg02.svg);
    background-repeat: repeat;
}

.menu {
    background: rgb(190, 186, 186);
}

.apaBrand {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 2.7rem;
    color: #E70C8F;
}

.apaLink {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #E70C8F;
}

.nLink {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #060004;
}

.remove_item {
    color: #a50707;
}

.agregar_favoritos {
    color: green;
}

div.contenedor-main>.accordion {
    background: #E70C8F;
}