@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Handlee);
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.menu {
  margin-top: 0px;
  height: 100%;
  width: 100vw;
  border: 2px solid #e70c8f;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(48, 1, 25, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
}

.dropdown-menu {
  border: 1px solid #e70c8f;
}

.dropdown-divider {
  color: #e70c8f;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.bg-01 {
  background: black url(../images/bg02.svg);
  background-repeat: repeat;
}

.menu {
  background: rgb(190, 186, 186);
}

.apaBrand {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
  color: #e70c8f;
}

.apaLink {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #e70c8f;
}

.nLink {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #060004;
}

.formMenu {
  margin-left: 1rem;
}

.hero {
  display: block;
  color: whitesmoke;
  background-color: #160351;
  background-image: url("../images/bg04.svg");
  background-repeat: repeat;
  border-radius: 15px;
  padding: 2.5rem;
  padding: auto;
  align-content: center;
  text-align: center;
  height: 100%;
  width: 100vw;
}

.name {
  height: 57px;
}

.apa-name {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #e70c8f;
}

.image {
  display: inline-block;
  position: relative;
  max-width: 340px;
  width: 70%;
  max-height: 500px;
  height: auto;
  image-rendering: auto;
}

.herod {
  background-image: linear-gradient(120deg, #ec008c, #fc6767 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 90%;
  transition: background-size 0.25s ease-in;
  margin-bottom: 3rem;
}

.hero-d:hover {
  background-size: 100% 88% !important;
}

.main {
  margin: 20px;
  background: #000000;
  background-image: url(../image/bg02.svg);
  background-repeat: repeat;
  margin: 5px solid #160351;
  border-radius: 15px;
}

.footer_area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
  padding: 60px;
  background-color: #d9eeec;
}

.footer_area .row {
  margin-left: -25px;
  margin-right: -25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #d9eeec;
}

.single-footer-widget {
  position: relative;
  z-index: 1;
}

.single-footer-widget .copywrite-text a {
  color: #747794;
  font-size: 1rem;
}

.single-footer-widget .widget-title {
  margin-bottom: 1.5rem;
}

.single-footer-widget .footer_menu li a {
  color: #747794;
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}

.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
  color: #3f43fd;
}

.single-footer-widget .footer_menu li:last-child a {
  margin-bottom: 0;
}

.footer_social_area {
  position: relative;
  z-index: 1;
}

.footer_social_area a {
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px;
  display: inline-block;
  background-color: #f5f5ff;
  line-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 10px;
}

.footer_social_area a i {
  line-height: 36px;
}

.footer_social_area a:hover,
.footer_social_area a:focus {
  color: #ffffff;
}

@-webkit-keyframes bi-cycle {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes bi-cycle {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
