@import "../images/protruding-squares.svg"
* {
    box-sizing: border-box;
}

.bg-01{ background-color: gray;
    background: url(../images/protruding-squares.svg);
    background-repeat: repeat;
    padding: 0px;
    margin: 0px;}


















