@import "../font/font.css";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.menu {
  margin-top: 0px;
  height: 100%;
  width: 100vw;
  border: 2px solid #e70c8f;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(48, 1, 25, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
}

.dropdown-menu {
  border: 1px solid #e70c8f;
}

.dropdown-divider {
  color: #e70c8f;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.bg-01 {
  background: url("../images/bg04.svg");
  background-repeat: repeat;
}

.menu {
  background: rgb(190, 186, 186);
}

.apaBrand {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
  color: #e70c8f;
}

.apaLink {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  color: #e70c8f;
}

.nLink {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #060004;
}

.container {
  display: flex;
  height: 100vh;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  height: 85vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex 0.4s ease;
  position: relative;
}

.section .overlay {
  background-color: rgba(255, 255, 255, 0.612);
  width: 100%;
  height: 90vh;
  padding-top: 5vh;
  position: absolute;
  transition: background-color 0.8s ease;
}

.section .content {
  z-index: 2;
}

.section:hover {
  flex: 2;
}

.section:hover .overlay {
  background-color: #14043c;
}

#marketing {
  background-image: url(../images/index01.png);
  background-position: cover;
}

.textIndex {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.apaColor {
  color: #e70c8f;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  width: 80vw;
  height: 90%;
  margin: auto;
  margin-top: 2em;
}

.contenedor-main {
  margin-bottom: 1.5rem;
  background: rgb(255, 255, 255);
  padding: 2rem;
}

main {
  background: rgb(255, 255, 255);
  color: #424242;
}

aside {
  background: #dee5e8;
  padding: 60px 0;
  color: #0d47a1;
}

.widgets {
  margin-bottom: 20px;
}

.widgets > div {
  background: #2196f3;
  color: #fff;
  padding: 20px;
}

footer {
  padding: 20px 0;
  background: #1e1e1e;
}

hr {
  border: 0;
  height: 30px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  border-radius: 20px;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: 31px;
  border-style: solid;
  border-color: #070505;
  border-width: 0 0 2px 0;
  border-radius: 20px;
}

grid.parent {
  display: block;
  grid-template-columns: repeat(3, 1fr) 0 repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 9px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 9;
  background-color: rgb(146, 201, 5);
  height: 90vh;
}
.div2 {
  grid-area: 2 / 1 / 7 / 9;
  background-color: rgb(87, 13, 13);
  height: 90vh;
}
.div3 {
  grid-area: 7 / 1 / 9 / 9;
  background-color: rgb(75, 87, 13);
  height: 60vh;
} /*
@media (min-width: 576px) {
  ...;
}
*/
// Medium devices (tablets, 768px and up)

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .slider01 {
    background-image: url("../images/slider03.png");
  }
}
/*
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
