body {
    background: #ddd;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold
}

grid.parent {
    display: block;
    grid-template-columns: repeat(3, 1fr) 0 repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 9px;
}

@media screen and (max-width: 420px) {
    .div1 {
        grid-area: 1 / 1 / 2 / 9;
        background-color: rgb(146, 201, 5);
        height: 90vh;
    }
    .div2 {
        grid-area: 2 / 1 / 7 / 9;
        background-color: rgb(87, 13, 13);
        height: 90vh;
    }
    .div3 {
        grid-area: 7 / 1 / 9 / 9;
        background-color: rgb(75, 87, 13);
        height: 20vh;
    }
}

\ <main class="grid"><grid class="parent"><div class="div1"><h1>helo d1</h1></div><div class="div2"><h1>helo d1</h1></div><div class="div3"><h1>helo d1</h1></div><div class="div4"><h1>helo d1</h1></div></div></main>