@import "../images/wavey-fingerprint.svg";
body {
    background: rgba(215, 201, 201, 0.361);
    background-image: url('../images/wavey-fingerprint.svg');
    background-repeat: repeat;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}

header {
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor-main {
    margin-bottom: 20px;
}

main {
    background: #fff;
    color: #424242;
    padding: 20px 0
}

aside {
    background: #dee5e8;
    padding: 60px 0;
    color: #0d47a1;
}

.widgets {
    background: #f2f2f2;
    color: #424242;
    margin-bottom: 20px;
}

.widgets>div {
    background: #2196f3;
    color: #fff;
    padding: 20px;
}

footer {
    padding: 20px 0;
    background: #1e1e1e;
}