@import "../font/font.css";
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.bg-01 {
    background-color: gray;
    background: url('../images/protruding-squares.svg');
    background-repeat: repeat;
}